---
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const examples: CollectionEntry<"examples">[] = await getCollection("examples");
---

<Layout title="Math Applets">
	<h2 class="text-2xl font-semibold mb-6">Explore Calculus Visualizations</h2>
	<ul class="space-y-4">
		{
			examples.map((ex) => (
				<li>
					<a
						href={`/examples/${ex.slug}`}
						class="block p-4 border border-slate-200 rounded-lg hover:bg-slate-100 transition"
					>
						<h3 class="text-xl font-semibold">{ex.data.title}</h3>
						{ex.data.description && (
							<p class="text-slate-600 mt-1">
								{ex.data.description}
							</p>
						)}
					</a>
				</li>
			))
		}
	</ul>
</Layout>
